.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  width: 210px;
  height: 40px;
  box-sizing: border-box;
  word-break: break-all;
  white-space: pre-line;
  height: fit-content;

  color: $color-default-black;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    background-color: $color-default-hover;
    color: $color-default-white;
  }
  &:active {
    background-color: $color-default-active;
  }
}
