.footer {
  background-color: #000000;
  flex: 0 0 auto;
  color: $color-default-white;
}

.footer__wrapper {
  min-height: 338px;
  color: $color-default-white;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  column-gap: 88px;
  align-items: center;

//   @media (max-width: $vp-tablet) {
//     min-height: 120px;
//     column-gap: 13px;
//   }

//   @media (max-width: $vp-mobile) {
//     grid-template-columns: 1fr;
//     grid-template-rows: 62px 1fr 67px;
//     min-height: 283px;
//   }
}

.footer h2 {
  font-family: $ff-cormorant;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.footer p {
  font-family: $ff-poppins;
  font-size: 16px;
  line-height: 21px;
  color: $color-default-gray;
}