.footer-navigation {
  // @media (max-width: $vp-mobile) {
  //   margin-top: 15px;
  // }
}

.footer-navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 70px;
  row-gap: 15px;

  // @media (max-width: $vp-mobile) {
  //   flex-direction: column;
  // }
}

.footer-navigation__item {
  // @media (max-width: $vp-mobile) {
  //   margin-bottom: 7px;
  // }
}

.footer-navigation__link {
  font-family: $ff-poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $color-default-white;
  text-decoration: none;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: fit-content;

  // &:hover,
  // &:focus {
  //   background-color: $color-default-hover;
  //   color: $color-default-white;
  // }

  // &:active {
  //   background-color: $color-default-active;
  // }

  // @media (max-width: $vp-tablet) {
  //   font-size: 12px;
  //   line-height: 15px;
  //   padding: 12px;
  // }

  // @media (max-width: $vp-mobile) {
  //   margin-left: -12px;
  //   padding-left: 12px;
  // }
}
