.gallery__list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: max-content max-content;
  grid-auto-flow: column;
  grid-gap: 34px 27px;
  padding-top: 50px;
  padding-bottom: 130px;
}

.gallery__item {
  display: flex;
}

.gallery__item picture {
  width: 100%;
  display: contents;
}

.gallery__item:nth-child(3) {
  grid-row: 1 / 3;
}
