@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  src:
        url('../fonts/cormorantGaramond-400Italic.woff2') format('woff2'),
        url('../fonts/cormorantGaramond-400Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  src:
        url('../fonts/cormorantGaramond-500Italic.woff2') format('woff2'),
        url('../fonts/cormorantGaramond-500Italic.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  src:
        url('../fonts/cormorantGaramond-600.woff2') format('woff2'),
        url('../fonts/cormorantGaramond-600.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  src:
        url('../fonts/cormorantGaramond-700.woff2') format('woff2'),
        url('../fonts/cormorantGaramond-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
        url('../fonts/poppins-400.woff2') format('woff2'),
        url('../fonts/poppins-400.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src:
        url('../fonts/poppins-500.woff2') format('woff2'),
        url('../fonts/poppins-500.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src:
        url('../fonts/poppins-700.woff2') format('woff2'),
        url('../fonts/poppins-700.woff') format('woff');
  font-display: swap;
}